.git
node_modules
.next
out
build
dist
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.hardhat
cache
artifacts
typechain
types
coverage
